.auction-widget {
    width: 35%;
    height: calc(100%);
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align content vertically */
    align-items: center; /* Align content horizontally */
    box-sizing: border-box;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    text-align: center; /* Center text inside elements */
}


.auction-widget-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.auction-widget-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auction-widget-button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.auction-widget-button:hover {
    background-color: #0056b3;
}